<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.dalimatt.Instastalk</string>
	<key>connections</key>
	<dict>
		<key>7319AAC9-5677-4C72-930A-AD64947EBFDE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5848CB44-DFC8-4696-B7C4-E7B2E36BFA2D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>dalimatt</string>
	<key>description</key>
	<string>Find recent likes from instagram users</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Instastalk</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5848CB44-DFC8-4696-B7C4-E7B2E36BFA2D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>stalk</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading results..</string>
				<key>script</key>
				<string>python stalk.py "{query}"</string>
				<key>title</key>
				<string>Stalk your favorite Instagram users</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7319AAC9-5677-4C72-930A-AD64947EBFDE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>5848CB44-DFC8-4696-B7C4-E7B2E36BFA2D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7319AAC9-5677-4C72-930A-AD64947EBFDE</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
